/* Add your styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}

header {
    text-align: center;
    background-color:   black;
    color: #fff;
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;    
}
.sport{
    padding: 20px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.upload-section, .description-section {
    margin-bottom: 20px;
}

.upload-section h2, .description-section h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"], .form-group input[type="date"], .form-group input[type="time"] {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
